# Portfolio Exercices: Starbucks [Cleaning Stage]

In [1]:
from src.utils import to_snake_case

import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/training.csv')
df.head()

   ID Promotion  purchase  V1         V2        V3  V4  V5  V6  V7
0   1        No         0   2  30.443518 -1.165083   1   1   3   2
1   3        No         0   3  32.159350 -0.645617   2   3   2   2
2   4        No         0   2  30.431659  0.133583   1   1   4   2
3   5        No         0   0  26.588914 -0.212728   2   1   4   2
4   8       Yes         0   3  28.044331 -0.385883   1   1   2   2

In [3]:
df.columns = [to_snake_case(col) for col in df.columns]
df.columns

Index(['id', 'promotion', 'purchase', 'v1', 'v2', 'v3', 'v4', 'v5', 'v6',
       'v7'],
      dtype='object')

In [4]:
df.promotion = df.promotion.apply(lambda x: 1 if x == "Yes" else 0).astype("bool")
df.purchase = df.purchase.astype("bool")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84534 entries, 0 to 84533
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         84534 non-null  int64
 1   promotion  84534 non-null  bool
 2   purchase   84534 non-null  bool
 3   v1         84534 non-null  int64
 4   v2         84534 non-null  float64
 5   v3         84534 non-null  float64
 6   v4         84534 non-null  int64
 7   v5         84534 non-null  int64
 8   v6         84534 non-null  int64
 9   v7         84534 non-null  int64
dtypes: bool(2), float64(2), int64(6)
memory usage: 5.3 MB

In [5]:
df.to_csv('../data/processed/training.csv', index=False)